* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(234, 17%, 12%);
    background-image: url(./images/bg-stars.svg);
}



.h2-text {
    text-align: center;
    margin-top: 5rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3rem;
    font-family: "Red Hat Text", sans-serif;
}

.footer-img {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: -5rem;
    width: 100%;
}

.img {
    position: relative;
}

.images-bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.images-bottom img {
    margin: 0 10px;
    margin-bottom: 3rem;
}

.images-bottom img:hover {
    background-color: hsl(345, 95%, 68%);
    cursor: pointer;
}



.try {
    display: flex;
    justify-content: center;
    
    gap: 10px;
}

.countdown-item {
    position: relative;
     /* background-color: hsl(236, 21%, 26%); */
    background: linear-gradient(to top, hsl(235, 16%, 14%) 0 50%,   hsl(234, 17%, 12%)  50% 100%);
    padding: 2rem;
    /* font-weight: 10rem; */
    font-size: 3rem;
    font-family: "Red Hat Text", sans-serif;
    color: hsl(345, 95%, 68%);
    box-shadow: 0px 8px 2px 0px black;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


.countdown-item::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    height:50%;
    width:100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: black;
    opacity: 0.2;
    z-index: 10;
}


.countdown-item span.first-span{
    position: absolute;
    top: calc(50% - (12px / 2));
    z-index: 10;
    width: 12px;
    height:12px;
    border-radius: 50%;
    background: black;
}

.countdown-item span.first-span:first-of-type {
    left: -6px;
}

.countdown-item span.first-span:nth-of-type(2){
    right: -6px;
}

.countdown-item span:last-of-type {
    position: absolute;
    top: 50%;
    left:0px;
    background:  hsl(235, 16%, 14%);
    width:100%;
    height: 1px;
}

/* .countdown-item {
    
    padding: 25px 30px;
    background-color: hsl(236, 21%, 26%);
    border-radius: 5px;
} */

.count-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.count {
    /* font-size: 40px; */
    font-weight: bold;
    color: hsl(345, 95%, 68%);
}

.unit {
    font-size: 16px;
    letter-spacing: 0.2rem;
    color: hsl(237, 18%, 59%);
}

@media screen and (max-width:375px){
    .h2-text {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .countdown-item {
        padding: 1rem;
        font-size: 1.5rem; 
    }

    .count {
        font-size: 24px;
    }

    .unit {
        font-size: 12px;
    }
}



